.bg-nav-custom {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,121,9,0.2637429971988795) 35%, rgba(0,212,255,1) 60%);
}
<style>
    /* Default height for small devices */
    #intro-example {
      height: 400px;
    }

    /* Height for devices larger than 992px */

     /* Height for devices larger than 992px */
     @media (min-width: 992px) {
        #intro-example {
          height: 600px;
  </style>

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

